{% load webpack_loader static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}My amazing site{% endblock title %}</title>
    {% stylesheet_pack 'app' %}
</head>
<body class="font-inter antialiased">
<div class="flex min-h-screen flex-col overflow-hidden supports-[overflow:clip]:overflow-clip">
  {% include "header/header.html" %}
  {% block main %}
  {% endblock main %}
  {% include "footer/footer.html" %}
</div>
{% javascript_pack 'app' %}
</body>
</html>